@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ccc;
    text-decoration: none;
}

.main-box{
    background: url(imagens/unnamed.jpg) right no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main-box .sidebar {
    position: fixed;
    height: 100vh;
    width: 300px;
    background: #ccc3;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.333);
}
.sidebar .logo{
    display: block;
    position: relative;
    width: 100%;
    height: 120px;
}
.sidebar .logo img {
    display: inline-block;
    position: absolute;
    width: 120px;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 24px;
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.7);
}
.sidebar .menu {
    display: block;
    position: relative;
    top: 80px;
    width: 100%;
}
.sidebar .menu li {
    width: 90%;
    margin-left: 5%;
    margin-top: 8px;
    padding: 16px 20px;
    list-style: none;
    text-decoration: none;
    background: rgba(0, 195, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.4);
}
.sidebar .menu li:hover {
    background: rgba(15, 0, 221, 0.25);
    text-decoration: underline;
    border: 1px solid rgba(17, 0, 255, 0.7);
}
.sidebar .menu li a {
    color: white;
    font-size: 16px;
}
.social-media {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.social-media img {
    height: 24px;
}